<!-- src/main/resources/templates/member/checkPassword.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<head>
  <title>비밀번호 확인</title>
</head>
<th:block layout:fragment="css">
  <style>
    .passwordcheck {
      text-align: center;
      margin-top: 6rem;
      margin-bottom: 10rem;
    }

    .fieldError {
      color: #bd2130;
    }
    #password{
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
    .passbtn{
      margin-left: 20px !important;
      margin: 10px;
      background-color: rgb(144, 201, 255);
      color: rgb(41, 41, 41);
      font-weight: bold;
    }
    .password{
      font-weight: bold;
    }
  </style>
</th:block>

<body>
  <div layout:fragment="content">
    <div class="container passwordcheck">
      <h1 class="password-check">비밀번호 확인</h1>
      <form th:action="@{/members/check-password}" method="post">
        <label class="password" for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br>

        <button class="passbtn btn" type="submit">확인</button>
        <button class="passbtn btn" type="button" onclick="location.href='/'">취소</button>
      </form>

      <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
    </div>
  </div>
</body>

</html>