<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm">

      <div class="Logo">
        <a href="/"><img th:src="@{/img/Logo.png}" /></a>
      </div>


      <div id="maincetegori" class="container">
        <div class="container" style="width:100%">

          <div class="login" style="display: flex; position: absolute; right: 1rem;top: 2rem;">

            <!--            241101 은열추가-->
            <div style="font-size: small;  width: 100%; text-align: right;" id="member-grade" th:if="${member != null}"
              th:text="'회원님의 등급은 ' + ${member.grade} + '입니다❤'"></div>
            <button type="button" class="btn login" onclick="location.href='/cart'"><i
                class="fi fi-rr-shopping-cart"></i></button>
            <div class="dropdown" id="temple">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fi fi-rr-user"></i>
              </button>
              <ul class="dropdown-menu" style="width: 50%;">
                <li class="dropdown-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                  <a class="nav-link" href="/admin/main">관리자페이지</a>
                </li>
                <!-- 비밀번호 확인 후 회원 정보 수정으로 이동 -->
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/members/check-password">회원 정보 수정</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/orders">구매이력</a>
                </li>
                <li class="dropdown-item">
                  <!-- ROLE_ADMIN 권한이 있는 경우 -->


                  <!-- 로그인된 상태이고 ROLE_ADMIN이 없는 경우 -->
                  <a class="nav-link" sec:authorize="!hasAuthority('ROLE_ADMIN') and isAuthenticated()"
                    href="/orders">구매 이력</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAnonymous()">
                  <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="dropdown-item" sec:authorize="isAuthenticated()">
                  <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-group">
            <div class="container-fluid">
              <button type="button" class="btn login" onclick="location.href='/notice/list'">FAQ</button>
              <button type="button" class="btn login" onclick="location.href='/qna/list'">QnA</button>
            </div>
          </div>
            <div class="btn-group">
              <div class="container-fluid">
                <button class="btn header-btn-item" href="/category/television">TV</button>
                <button class="btn header-btn-item" href="/category/computer">노트북</button>
                <button class="btn header-btn-item" href="#">모니터</button>
                <button class="btn header-btn-item" href="#">세탁기</button>
                <button class="btn header-btn-item" href="/category/refrigerator">냉장고</button>
                <button class="btn header-btn-item" href="#">청소기</button>
                <button class="btn header-btn-item" href="/category/circulation">에어컨</button>
                <button class="btn header-btn-item" href="#">공기청정기</button>
                <button class="btn header-btn-item" href="/category/circulation">에어컨</button>
                <button class="btn header-btn-item" href="#">공기청정기</button>
            </div>
          </div>
        </div>
        <form class="search-form form-inline my-2 my-lg-0" th:action="@{/}" method="get">
              <input name="searchQuery" class="form-control" type="search" placeholder="Search" aria-label="Search"
                style="width: 200px;">

              <button id="search" class="btn" type="submit"><i class="fi fi-rr-search"></i></button>
            </form>
      </div>
    </nav>
  </div>
</div>

</html>